<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Acclaim-OC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Acclaim.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Acclaim_OCTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>79213F131B7B04C500A527DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79213F1E1B7B04C500A527DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>793C546E1C6ACDC700CC2432</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>796B34971C9EDC32004D0F2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7993CC891C9EFA9A002CD6BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7994F13B1B82EB7E0016ADB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79BA05491B7B4C5500107617</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79BA055C1B7B4C5500107617</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79E4CC091B7B4DA8000EC9EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79E4CC1D1B7B4DA9000EC9EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79E4CC2F1B7B4DC1000EC9EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79E4CC431B7B4DC1000EC9EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
